basePath: /
definitions:
  domain.User:
    properties:
      email:
        type: string
      firstName:
        type: string
      id:
        type: integer
      lastName:
        type: string
    type: object
  http.HealthCheckResponse:
    properties:
      environment:
        type: string
      status:
        type: string
      version:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: Learning Go backend step by step.
  title: Operation GoGoGo API
  version: "1.0"
paths:
  /health:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/http.HealthCheckResponse'
      summary: Health check
      tags:
      - health
  /v1/users:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.User'
            type: array
      summary: Get all users
      tags:
      - users
swagger: "2.0"
